<div class="panel panel-default">
  <div class="panel-heading text-center">
    <h3>Your Legislators</h3>
  </div>
  <div class="panel-body">
    <ul>
      {{#each legislator in model}}
        <li>
          <a style="float-left" href={{legislator.contact_form}}><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></a>
          <span class="legislator-name"> {{legislator.first_name}} {{legislator.last_name}} </span>
        </li>
      {{/each}}
    </ul>
  </div>
</div>
